* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

select {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-appearance: none; /* get rid of default appearance for IE8, 9 and 10*/
}

li {
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  color: #eeeeee;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 600px;
  margin-top: 50px;
}

header h1 {
  font-size: 28px;
}

header h2 {
  font-size: 18px;
  color: #afafaf;
}

select {
  width: 210px;
  height: 33px;
  color: #afafaf;
  background: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 11px;
  margin-top: 10px;
  padding-left: 7px;
}

select option {
  background: #ffffff;
}

.select-area {
  display: flex;
  align-items: center;
  width: 600px;
  margin: 310px;
  background-color: rgb(53, 53, 53);
  border-radius: 15px;
  margin-top: 50px;
  margin-bottom: 0;
}

.select-area ul {
  position: relative;
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
  top: -12.5px;
}

.select-area ul li h2 {
  color: #afafaf;
  font-size: 18px;
  margin-top: 25px;
}

.search-container {
  width: 600px;
  margin-top: 30px;
}

.search-container button {
  width: 92px;
  height: 34px;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #afafaf;
}

.search-container button:first-child {
  background-color: rgb(53, 53, 53);
  margin-right: 25px;
}
.search-container button:nth-child(2) {
  background-color: #212121;
  border: 2px solid #afafaf;
}

.result-container {
  margin-top: 50px;
}

.result-container h2 {
  color: #afafaf;
}

.result-card {
  width: 600px;
  background-color: rgb(53, 53, 53);
  border-radius: 15px;
}

.result-card:first-child {
  margin-top: 50px;
}

.result-card div {
  margin: 25px;
}

.result-card div ul {
  display: flex;
  margin-bottom: 18px;
}

.result-card div ul li:first-child h3 {
  margin-top: 30px;
  color: #ffffff;
  margin-right: 20px;
}

.result-card div ul li:nth-child(2) h3 {
  color: #afafaf;
  font-weight: 500;
  margin-top: 30px;
}

.result-description {
  font-weight: 400;
  font-size: 13px;
  padding-bottom: 30px;
  color: #afafaf;
}

@media only screen and (max-width: 650px) {
  header {
    width: 90vw;
    margin-top: 50px;
  }
  .select-area {
    display: flex;
    align-items: center;
    width: 90vw;
    margin: 0;
    background-color: rgb(53, 53, 53);
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 0;
  }
  .option-container h2 {
    font-size: 1.2rem;
  }
  .search-container {
    width: 90vw;
    margin-top: 30px;
  }
  .result-card {
    width: 90vw;
    background-color: rgb(53, 53, 53);
    border-radius: 15px;
  }
  .result-card h3 {
    font-size: 1rem;
  }
  #js-result {
    font-size: 1.2rem;
  }
}
